
tr{
   display: flex;
   height: 100px;
}

.t{

  background-color:pink;
  width: 150px;
  margin-left: 125px;

}

.m{
  background-color: pink;
  width: 250px;
  margin-left: 75px;
}

.b{
  background-color: pink;
  width: 400px;
}